@mixin width {
  width: 90%;
  margin: auto;
}

@mixin marginBottomAll($val) {
  >* {
    margin-bottom: $val;
  }
}

@mixin inlineBlockAll {
  >* {
    display: inline-block
  }
}

@mixin normalButtonAndInput {
  border: 0;
  outline: 0;
  padding: 6px 12px;
  padding: 15px 10px;
  font-weight: 600;
}

@mixin btnAnimation($hoverColor, $activeColor){
  button:hover{
    background-color: $hoverColor;
  }

  button:active{
    box-shadow: inset 2px 4px 9px 50px $activeColor;
  }
}