// colors
$black: #333;
$black: #2c3e50;
$darkBlack: #232b33;
$veryDarkBlack: #191B1D;

$white: #FFF;
$whiteBlue: #e8f0fd;

$lightGrey: #dcdcdc;
$grey: #737373;
$darkGrey: #676767;

// $lightBlue: #2094c3;
$lightBlue: #31a8d8;
$darkBlue: #276e98;
$veryDarkBlue: #1d5d77;
// $blue: #2094c3;

$lightGreen: #4CAF50;
$darkGreen: #247d29;
$veryDarkGreen: #29522a;
// $green: #4CAF50;

$lightRed: #e75a5a;
$darkRed: #b31f1f;
$veryDarkRed: #791a1a;
// $red: #f14d4d;

// used colors
$bodyColor: $whiteBlue;
$sectionColor: $white;
$textColor: $black;
$textSubColor: $darkGrey;
