#content
  div.header
    h2 فيلم Fight Club عام (1999)
    div.hr
  
  .data
    div.image
      img(src="https://yts.lt/assets/images/movies/shazam_2019/medium-cover.jpg", alt="Shazam (2019)")

    div.download
      .torrent
        h3 تحميل الفيلم باستخدام ال Torrent
        .btns
          button
            .text
              p 480p.BLU
              p 415 MB
            .icon
              i.fa.fa-download
          button
            .text
              p 720p.BLU
              p 861 MB
            .icon
              i.fa.fa-download
          button
            .text
              p 1080p.BLU
              p 2.0 GB
            .icon
              i.fa.fa-download

      .subtitle
        h3 تحميل الترجمة
        .btns
          button
            .text
              p عربي (5)
            .icon
              i.fa.fa-language
          button
            .text
              p انجليزي (0)
            .icon
              i.fa.fa-language        
      .magnet
        h3 تحميل الفيلم باستخدام ال Magnet
        .btns
          button
            .text
              p 480p.BLU
              p 415 MB
            .icon
              i.fa.fa-magnet
          button
            .text
              p 720p.BLU
              p 861 MB
            .icon
              i.fa.fa-magnet
          button
            .text
              p 1080p.BLU
              p 2.0 GB
            .icon
              i.fa.fa-magnet
      //- .stream
        h3 مشاهدة الفيلم اونلاين
        .btns
          button
            .text
              p 480p.BLU
              p 415 MB
            .icon
              i.fa.fa-tv
          button
            .text
              p 720p.BLU
              p 861 MB
            .icon
              i.fa.fa-tv
          button
            .text
              p 1080p.BLU
              p 2.0 GB
            .icon
              i.fa.fa-tv