- const urls = ["http://s015.radikal.ru/i332/1709/3e/1782cd6a4c3e.jpg", "http://i075.radikal.ru/1709/25/44d19a539e7d.jpg", "http://s019.radikal.ru/i603/1709/32/356e9bfb6be8.jpg", ]

#images
  h3 صور من الفيلم
  for url in urls
    .image
      img(src=url)