-
  const links = {
    uTorrent: {href: 'https://www.utorrent.com/downloads/win', text: 'uTorrent'},
    sublime: {href: '#', text: 'sublime'},
    mxPlayer: {href: '#', text: 'mxPlayer'},
    vlc: {href: '#', text: 'vlc'},
  }

#notes
  h3 ملاحظات للمساعدة اذا واجهتك مشكلة
  .faqs
    .faq
      .q الموقع ده بيعمل ايه اصلا
      //- .a بجمعلك الفيلم (تورنت) بجودات مختلفة و الترجمة بتاعته عربي و انجليزي
      .a 
        ul
          li ببحث ف اكتر من موقع تورنت لحد ملاقي الفيلم
          li بفلتر نتايج البحث و بجيب الاقل مساحة و التورنت الاسرع
          li بحاول اجيب اكتر من جودة
          li بحاول اجيب الترجمة عربي و انجليزي

    .faq
      .q ليه مفيش مسلسلات
      .a
        p كت عاوز اجمعلك كل السيزونات و الحلقات جمب بعض بس المشكلة لو انت عاوز بريكنج باد يعني 62 حلقة كده هعمل 62 ضعف العمليات اللي بتتعمل ف الفيلم الواحد ... ونا بحبك و بخاف ع النت بتاعك

    .faq
      .q ليه مفيش مشاهدة اونلاين
      .a
        p ممعيش اشتري سيرفر حتي الموقع ده حاطه ع استضافة مجانية :""(
        //- p مشاكل مادية

    .faq
      .q استخدم الموقع ازاي
      .a
        p هتكتب اسم الفيلم (صح) و بعدين السنة (لو متعرفهاش فانا مطلعلك لينك يسيرش ف جوجل) و بعدين هتدوس زرار البحث #بديهيات
      //- .a هتكتب اسم الفيلم ف هيطلعلك لينك لجوجل تعرف منه السنة هتخش عليه تشوف السنة و لو لقيت الاسم ف جوجل غير اللي انت كاتبه ياريت تعدله بعدين هتدوس زرار بحث #بديهيات
    
    .faq
      .q ليه لازم ادخل السنة
      .a
        p عشان افلترلك نتايج البحث و متتعبش نفسك و تختار 

    .faq
      .q ايه هو التورنت 
      //- .a ببساطة بتحمل ملف حجمة ميزيدش عن 300 كيلو بايت و بعدين بتستخدم برنامج زي uTorrent يحملك ... و ميزة التورنت ان مهما النت بتاعك فصل ونت بتحمل ف هيرجع يكمل من مكان موقف
      .a 
        p هو فايل حجمة صغير جدا بتحمل بيه الفيلم .. ميزته ان مهما النت فصل ونت بتحمل ف بترجع تحمل من مكان موقفت (te-data friendly :"""D)

    .faq
      .q ازاي احمل التورنت
      .a
        p لو انت وندوز او موبايل ف عندك #[+link(links.uTorrent)] و مجاني خش حمله

    .faq
      .q ازاي اربط الفيلم بالترجمة
      .a 
        ul
          li لو انت موبايل فممكن تستخدم #[+link(links.mxPlayer)]
          li لو وندوز معظم البرامج بتربط الفيلم بالترجمة لو الاتنين بنفس الاسم لو ده محصلش ف برشحلك #[+link(links.vlc)] و استخدامه سهل و لو معرفتش تربطهم ف هتلاقي شرح ف جوجل

    .faq
      .q اعمل ايه لو الصوت مسابق الترجمة
      //- .a كل برنامج ليه طريقة ... بس انا هشرح ع vlc ..
      //-   | بص عندك في لوحة المفاتيح زرارين الاول مرسوم عليه G و ده هتقدم بيه الترجمة و التاني مرسوم عليه H و ده هتاخر بيه ..
      //-   | بس كدة ببساطة
      .a
        p لو بتستخدم البرامج اللي قولت عليها فوق ف ال 2 بيسمحو انك تظبط الترجمة
        p ال #[+link(links.vlc)] بتستخدم G, H عشان تقدم و تاخر الترجمة لحد متظبط معاك

    .faq
      .q اعمل ايه لو الترجمة كانت حروفها غريبة
      .a 
        //- p الموضوع ممل شوية بس معلش تعالي ع نفسك المشكلة هنا سببا الencoding ... ف عشان نغيره هنحمل برنامج يعدل ف التكست اللي هو #[+link(links.sublime)] و هتنفذ الكلام اللي ف الفيديو ده
        
        //- p الطريقة بسيطة مش هتاخد اكتر من 30 ثانية عشان (ملحوظة لو معندكش word ف متشوفش الفيديو)
        p اقفل الصوت عشان الموسيقي مزعجة :"""
        +youtube('https://www.youtube.com/embed/X7yX6F0fRso?start=45')

    //- .faq
    //-   p اتمني تكون تجربة كويسة .. ولو قابلتك مشكلة بخصوص الترجمة ف انا بعتذر بس دي حاجة خارجة عن ارادتي